#background-effect {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

@font-face {
    font-family: 'juice_regularregular';
    src: url('JUICE_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Black Ops One";
    src: local("Black Ops One"), url("BlackOpsOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #333;
    font-family: 'juice_regularregular';
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 115%;
    color: #bbb;
}

body:after {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    display: block;
    content: "";
    border-top: solid 5px #f5993d;
}

h1, h2, h3 {
    font-family: 'juice_regularregular';
    font-weight: bold;
}

h2, h3 {
    color: #c2660a;
    letter-spacing: 1px;
    font-variant: small-caps;
}

.row {
    margin-top: 2rem;
    padding-top: 2rem;
}

.row:first-child + .row {
    margin-top: -3px;
}

.row:not(:first-child):before {
    margin-top: -2rem;
    width: 100%;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    border-top: solid 3px rgba(245, 153, 61, .1);
}

.row > div > :last-child {
    margin-bottom: 0;
}

hr {
    margin-top: 1.5rem;
    border: none;
    border-top: solid 3px rgba(245, 153, 61, .1);
}

h3 {
    margin-top: 0;
}

h4 {
    font-weight: bold;
    margin: 2rem 0 1rem 0;
    padding: 0;
}

h4:first-child {
    margin-top: 0;
}

ul {
    list-style: square;
}

.align-right {
    text-align: right;
}

img.avatar {
    border-bottom: solid 3px rgba(245, 153, 61, .5);
}
