#background-effect {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

@font-face {
    font-family: "Aller";
    src: local("Aller"), url("Aller_Lt.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Black Ops One";
    src: local("Black Ops One"), url("BlackOpsOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Aller;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 200%;
}

body:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    display: block;
    content: "";
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAaCAYAAAC3g3x9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wofDBYSi01myQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAGTSURBVEjHjZW/K0ZhFMc/9yJKBjJIGCxK2aRQkn/A4NhYJDKbrBaK3olNJj+KbyGZjDYLKe8oG8WGiPJa3lu3631+fJd77/OcPvd77jn3PImZVXDrG5iRdOwKMDOAduACGErx6x449QVIAhgFhgBCwJKkn6oLlzuAUnbjA75K2jOzzMU/mCTMbBLojQHO5FJypQqwnV93AW+Ay1CqZjYPdMYA14FfnzszawJmgSQELANXLlhOY8BwcbG+8FwBTiQ9BfouARaAhuJ+0eEvsFpoiVrF6AGmau0XgWuSvl2tktOuayMP/Mjcufqueh0EJmKAK76/IveSTZ/1DPgMnIdSNbMRYMAHzKp8LOnRF2hmdcA00BZy+AbsBGAALcBSqDlT4FrSne83q36GZaAxBEzMrF9SOeCwGXgnrEoqqRwx77aI02ESijCzbuA2VIyqetKIoEWgNSLuCHipD1S2A7DiiKqhT+BA0lcaOHzGgb4Idw+SzmIOqY3IYqxlWaWeITAHdEXAHiXtZ1mlniFQinQ3mzfyB9Z9km+BHEnUAAAAAElFTkSuQmCC) repeat-x center 5px;
}

h1, h2, h3 {
    font-family: "Black Ops One", cursive;
}

h2, h3 {
    color: #7d7d7d;
}

.row {
    margin-top: 2em;
    padding-top: 1em;
}

h3 {
    text-align: right;
    margin-top: 0;
}

h4 {
    font-weight: bold;
    margin: 2em 0 0 0;
    padding: 0;
}

h4:first-child {
    margin-top: 0;
}

ul {
    list-style: square;
}

figcaption {
    font-size: 75%;
    font-style: italic;
    text-align: center;
}

@media (max-width: 992px) {
    h3 {
        text-align: inherit;
    }
}
